@font-face {
  font-family: "iconfont"; /* Project id 3559010 */
  src: url('iconfont.woff2?t=1659314839396') format('woff2'),
       url('iconfont.woff?t=1659314839396') format('woff'),
       url('iconfont.ttf?t=1659314839396') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before {
  content: "\e6ce";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-celue:before {
  content: "\eaac";
}

.icon-chaxun:before {
  content: "\e60b";
}

.icon-shangpin:before {
  content: "\e635";
}

.icon-xinjian:before {
  content: "\e64b";
}

.icon-duizhang:before {
  content: "\eba4";
}

.icon-zhanghao:before {
  content: "\e853";
}

.icon-yanjing:before {
  content: "\e6cf";
}

.icon-yanjing1:before {
  content: "\e6d0";
}

.icon-gondan:before {
  content: "\e6e5";
}

.icon-gengduo:before {
  content: "\e67f";
}

.icon-renyuan:before {
  content: "\e62e";
}

.icon-shebei:before {
  content: "\e672";
}

.icon-dianwei:before {
  content: "\e6cc";
}

.icon-yanzheng:before {
  content: "\e699";
}

.icon-mima:before {
  content: "\e6f8";
}

